#container {
  margin: auto;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  border: 5px solid black;
  border-radius: 10px;
}

#displays {
  display: grid;
  grid-template-columns: 385px;
  grid-template-rows: 1fr auto;
  word-wrap: break-word;
  border-bottom: 10px solid black;
}

#calculation, #result {
  padding: 0 5px;
  text-align: end;
}

#calculation {
  font-size: 20px;
}

#result {
  font-size: 30px;
  font-weight: 900;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  font-size: 25px;
  height: 500px;
  background-color: #000000;
}

.button, .number, .operator {
  text-align: center;
  padding-top: 35px;
  border-radius: 10px;
  background-color: #DBDBDB;
}

.number {
  background-color: #ffffff;
}

.operator, #clear, #delete, #plusMinus {
  font-weight: 700;
}

#clear, #delete {
  background-color: #F1FB3C;
}

#decimal {
  font-size: 50px;
  padding-top: 5px;
}

#subtract {
  font-size: 50px;
  font-weight: 100;
  padding-top: 18px;
}

#equals {
  font-size: 50px;
  padding-top: 20px;
  grid-column: 3/5;
}

.button:hover, .number:hover, .operator:hover, #clear:hover, #delete:hover {
  background-color: #B5B5B5;
}